.col-md-12 {
    background-color: rgb(51, 172, 160);
}

hr.line {
    height: 4px;
    background-color: rgb(51, 172, 160);
    border: none;
}

.card {
    background-color: rgb(51, 172, 160);
}

.bgfoot {
    background-color: rgb(51, 172, 160);
}